@model QMessage.Models.QMQ_IN_HEADER

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QMQ_IN_HEADER</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SOURCE" class="control-label"></label>
                <input asp-for="SOURCE" class="form-control" />
                <span asp-validation-for="SOURCE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MESSAGE_ID" class="control-label"></label>
                <input asp-for="MESSAGE_ID" class="form-control" />
                <span asp-validation-for="MESSAGE_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TARGET" class="control-label"></label>
                <input asp-for="TARGET" class="form-control" />
                <span asp-validation-for="TARGET" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MESSAGE_TYPE" class="control-label"></label>
                <input asp-for="MESSAGE_TYPE" class="form-control" />
                <span asp-validation-for="MESSAGE_TYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EXPIRATION_TIME" class="control-label"></label>
                <input asp-for="EXPIRATION_TIME" class="form-control" />
                <span asp-validation-for="EXPIRATION_TIME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARKS" class="control-label"></label>
                <input asp-for="REMARKS" class="form-control" />
                <span asp-validation-for="REMARKS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MSG_STATUS" class="control-label"></label>
                <input asp-for="MSG_STATUS" class="form-control" />
                <span asp-validation-for="MSG_STATUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATE_TIME_IN" class="control-label"></label>
                <input asp-for="DATE_TIME_IN" class="form-control" />
                <span asp-validation-for="DATE_TIME_IN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATE_TIME_PROC" class="control-label"></label>
                <input asp-for="DATE_TIME_PROC" class="form-control" />
                <span asp-validation-for="DATE_TIME_PROC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RETRY_COUNT" class="control-label"></label>
                <input asp-for="RETRY_COUNT" class="form-control" />
                <span asp-validation-for="RETRY_COUNT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
