<div class="modal fade" id="modalMessageBody" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
        <!-- modal-dialog-centered -->
        <div class="modal-content">
            <!--  style="width: 162%;"-->
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel"><label> MESSAGE_ID: </label><span id="MessageIdModal"></span></h4>
                <button type="button" class="close closeButton" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-between">
                
                <div class="table-responsive">
                    <table class="table table-striped" id="tbMessageBodyModal">                               
                    </table>
                </div>
       
        </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal closeButton" data-dismiss="modal" id="closeModal">Fechar</button>
            </div>

        </div>
    </div>
</div>