<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QMessage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.css">
    <link rel="stylesheet" href="~/css/custom-datatable.css">


    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css">
    <link rel="stylesheet" href="~/lib/bootstrap-slider/css/bootstrap-slider.css">
    <link rel="stylesheet" href="~/lib/select2/css/select2.css">
    <link rel="stylesheet" href="~/lib/select2-bootstrap4-theme/dist/select2-bootstrap4.css">
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="~/lib/alertifyjs/css/alertify.min.css">
    <link rel="stylesheet" href="~/lib/alertifyjs/css/themes/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/datetime-picker/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/lib/datetime-picker/css/daterangepicker.css" />
    <link rel="stylesheet" href="~/css/sinter.css">
    <link rel="stylesheet" href="~/css/custom.css">
    
    <!--<link href="~/lib/pace/css/pace.min.css" rel="stylesheet" /> -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/moment.js/moment-with-locales.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive-bootstrap/jquery.validate.unobtrusive.bootstrap.js"></script>
    <script src="~/lib/jquery-validate/localization/messages_pt_BR.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="~/lib/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/select2/js/i18n/pt-BR.js"></script>
    <script src="~/lib/summernote/summernote-bs4.js"></script>
    <script src="~/lib/summernote/lang/summernote-pt-BR.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net/js/pdfmake.min.js"></script>
    <!--<script src="~/lib/pace/js/pace.min.js"></script> -->
    <script src="~/lib//alasql/xlsx.core.min.js"></script>
    <script src="~/lib//alasql/alasql.min.js"></script>
    <script src="~/lib/alertifyjs/alertify.min.js"></script>
    <script src="~/lib/jquery-form/jquery.form.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/spm.js"></script>
    <script src="~/lib/datetime-picker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/datetime-picker/js/moment.min.js"></script>
    <script src="~/lib/datetime-picker/js/daterangepicker.js"></script>
    <script src="~/lib/jquery-inputmask/jquery.inputmask.js"></script>
    <script src="~/lib/jquery-inputmask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/lib/jquery-inputmask/jquery.inputmask.extensions.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QMessage</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - QMessage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net/js/jquery.da<taTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
