@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>

</div>

<div class="row">
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-primary">
    <div class="inner">
        <h3>0</h3>
        <p>Mensagens na fila</p>
    </div>
        <div class="icon">
            <i class=""></i>
        </div>
    </div>
</div>



<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-primary">
    <div class="inner">
        <h3>0</h3>
        <p>Mensagens processadas com sucesso</p>
    </div>
        <div class="icon">
            <i class=""></i>
        </div>
    </div>
</div>



<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-primary">
    <div class="inner">
        <h3>0</h3>
        <p>Mensagens processadas com erro</p>
    </div>
        <div class="icon">
            <i class=""></i>
        </div>
    </div>
</div>


<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-primary">
    <div class="inner">
        <h3>0</h3>
        <p>Sem processar</p>
    </div>
        <div class="icon">
            <i class=""></i>
        </div>
    </div>
</div>

</div>